<header>
  <h1>
    Welcome to myNotes!
</h1> <h2>
We're using Rails <%= Rails.version %> </h2>
</header>
<section>
<p>
    Future home of myNotes's Dashboard. The user email is <%= current_user.email %>.
  </p>
</section>