<h1></h1>
<% if @tag %>
    <p>Tag: <strong><%= @tag %></strong></p>
<% end %>

<div class="container-fluid">

	<% if @notes.length != 0 %>
		<h2 class="tag">Notes</h2>
			<% @notes.each do |note| %>
					<%= render 'notes/note_summary', note: note %>
			<% end %>
	<% end %>

	<% if has_independent_tasks? @to_dos %>
		<h2 class="tag">Independent tasks</h2>
		<% @to_dos.each do |to_do| %>
				<% if to_do.independent? %>
					<%= render 'to_dos/to_do_summary', to_do: to_do %>
				<% end %>
		<% end %>
	<% end %>

</div>

