/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require 'bootstrap-sass-official'
 *= require_self
*/

body {
	margin: 0px;
	padding: 0px;
	background: rgb(245, 239, 230);
  font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;
}


/* Top bar */

#top_bar {
	color: #ffffff;
	position: relative;
}

#top_bar.production {
	background: #444444;
}

#top_bar.development {
	background: #880000;
}

#top_bar_logo {
}

#top_bar_logo > h1,
#top_bar_login > h1 {
	color: #FFFFFF;
	font-size: 120%;
	margin: 10px;
}

#top_bar_logo > h1 > small,
#top_bar_login > h1 > small {
	color: #bbbbbb;
}

#top_bar_login a {
	color: #ffffff;
	text-decoration: underline;
}


/* Main navigation zone */

#main_navbar {
	margin: 20px 20px 0px 20px;
}

#main_navbar_items a {
	color: #777777;
	text-shadow: 1px 1px #fff;
	padding-left: 0px;
}

#main_navbar_items a:hover,
#main_navbar_items a:focus {
	background: transparent;
	color: #222222;
}

#main_navbar_items a > span {
	color: #ffffff;
	text-shadow: none;
	font-weight: 800;
}

#main_navbar_create {
	padding: 20px 0px 10px 0px;
	font-size: smaller;
}

#main_navbar_create_header span {
}

#main_navbar_create a {
	text-shadow: 1px 1px #fff;
	padding-left: 5px;
	text-decoration: underline;
}

#main_navbar_create a:hover,
#main_navbar_create a:focus {
	background: transparent;
	color: #222222;
}

#main_navbar_create a > span {
	color: #ffffff;
	text-shadow: none;
}


/* Rails classes */

#error_explanation {
	background: #f2dede;
	padding: 5px 20px 5px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #a94442;
}

#error_explanation h2 {
	font-size: 120%;
	margin-top: 10px;
	font-weight: bold;
}


/* Login forms: Devise */

#workspace_login {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
	border-radius: 3px;
	max-width: 500px;
	min-height: 0px;
	padding-bottom: 30px;
	margin-top: 40px;
	margin-bottom: 30px;
}


/* Workspace */

#workspace {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px;
	border-radius: 3px;
	min-height: 500px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

#workspace_header {
	padding: 10px 25px 0px 0px;
}

#workspace_header_title h1 {
	font-weight: bolder;
}

#note_title {
	font-weight: bold;
	font-size: large;
}

#workspace_header_summary,
#note_summary {
	color: #888888;
	font-style: italic;
}

#workspace_header_infos {
	background: transparent;
	padding: 15px 0px 0px 15px;
	border: 0px dotted #ccc;
	font-size: smaller;
	color: #aaaaaa;
	text-align: right;
}


#workspace_menu {
	font-size: smaller;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin: 10px 10px 20px 0px;
	padding: 5px 0px 5px 0px;
}

#workspace_menu_main {
	padding-left: 0px;
}

#workspace_menu_context {
	padding-right: 0px;
}

#workspace_menu a {
	margin: 0px 10px 0px 0px;
	text-decoration: underline;
}

#workspace_menu .menu_edit {
	text-align: right;
}

#workspace_menu .menu_edit a {
	text-decoration: underline;
	font-weight: bolder;
	margin: 0px 0px 0px 10px;
}


#workspace_content {
	padding: 0px 25px 30px 0px;
}

#workspace_content h2 {
	font-size: 140%;
}



/*  Tools on the right of the workspace  */

#workspace_tools {
	font-size: smaller;
	background: #fafafa;
	border-radius: 3px;
	padding: 15px;
	border: 1px solid #dddddd;
}


/* Tiny MCE styles */

body.mce-content-body {
	padding: 10px;
    font-size: 18px;
    color: #555555;
    font-family: "Georgia", serif;
    background: #ffffff;
}

