// Place all the styles related to the tag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.tag {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: -15px;
	font-size: 150%;
	font-weight: 800;
}


/* Tag clouds */

#tag_cloud {
  line-height: 1.6em;
  border: 1px solid #cccccc;
  background: #fafaff;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 1px 1px #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

